* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;  
}

body {
    background: #f7f7f7;
}


header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: rgb(241, 6, 139);
    box-shadow: inset 1 -0.5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 2rem 0;
    color: aliceblue; 
    font-size: 3rem;  
}
header > span {
    color: rgb(42, 83, 165);
    margin-left: 0.3rem;
}

.notes-panel-display {
    width: 100%;
    max-width: 33rem;
    height: 50vh;
    margin: 0 auto;
    margin-top: 11rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0.2rem;
    overflow-y: auto;
    z-index: 9;
}
.notes-panel-display > .note {
    width: 100%;
    height: 45%;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.2rem;
    border: 0.01rem solid rgba(241, 6, 139, 0.35);
    background-color: #fff;
}
.notes-panel-display .note .note-text {
    padding: 0.7rem;
}
.notes-panel-display .note .note-text #note-title {
    font-size: 1.7rem;
    color: #222;
}
.notes-panel-display .note .note-text #note-description {
    font-size: 1.5rem;
    color: #444;
    line-height: 1.2;
    height: 9rem;
}
.notes-panel-display .note .note-addons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.notes-panel-display .note .note-addons .date {
    font-size: 1.4rem;
    color: #555;
    padding-bottom: 1.5rem;
}
.notes-panel-display .note .note-addons .del-update {
    font-size: 1.4rem;
    color: #555;
    padding-bottom: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.note .note-addons .del-update ul {
   list-style-type: none; 
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
   right: -0.5rem;
   top: -30%;
   position: absolute;
}
.note .note-addons .del-update:hover ul {
    display: block;
}
.note .note-addons .del-update ul li {
    left: 0;
    top: 100%;
}
.note .note-addons .del-update ul li .edit-note {
    border-bottom: 0.01rem solid #000;
}

.note-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 23rem;
    background: #fff;
    box-shadow: 0 0 0.02rem 0.04rem rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
}
.note-form > i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}
.note-form > #note-heading{
    font-size: 2rem;
    color: rgba(241, 6, 139, 0.7);
    padding: 1.5rem 0;
    text-align: center;
}
.note-form > .note-form-title,
.note-form > .note-form-description {
    width: 90%;
    margin: 1rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 0.01rem solid rgba(241, 6, 139, 0.35);
    font-size: 1.6rem;
    color: #222;
}
.note-form > .note-form-title:focus,
.note-form > .note-form-description:focus {
    border: 0.01rem solid #222;
    background: rgba(241, 6, 139, 0.1);
}
.note-form > .note-form-description {
    height: 20rem;
    resize: none;
}
.note-form > input[type="submit"] {
    display: inline-block;
    margin: 0 0 1.5rem 1rem;
    width: 90%;
    margin-left: 1rem;
    padding: .7rem 2.5rem;
    text-align: center;
    border-radius: 0.35rem;
    cursor: pointer;
    background: rgba(241, 6, 139, 0.7);
    border: 0.01rem solid rgba(241, 6, 139, 0.35);
    font-size: 2rem;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 100000;
}

.hidden {
    display: none;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 0.35rem;
    cursor: pointer;
    background: rgba(241, 6, 139, 0.7);
    border: 0.01rem solid rgba(241, 6, 139, 0.35);
    font-size: 2rem;
    color: #fff;

    position: absolute;
    top: 72%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.btn:hover {
    color: #333;
    background: rgba(241, 6, 139, 0.4);
}